@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    color: #dddddd;
    background: #1e1e23;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #1e1e23;
    background: #ffffff;
  }
}
